.advanced-search {
    margin: 100px auto auto auto;
    width: 1280px;
    height: auto;
}

.advanced-search__title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: normal;
    text-transform: none;
}

.border {
    border: 2px solid grey;
    border-radius: 8px;
}

.advanced-search__movie {
    border: 2px solid grey;
    border-radius: 8px;
    text-align: center;

}

.advanced-search__movie-poster,
.advanced-search__movie-info {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}

.advanced-search__movie-info {
    text-align: left;
    width: 65%;
}

.advanced-search__movie-poster {
    width: 25%;
}

.advanced-search__filters,
.advanced-search__movies {
    display: inline-block;
}

.advanced-search__filters {
    width: 35%;
    vertical-align: top;
}

.advanced-search__movies {
    width: 60%;
}